@import "bourbon"

@import "fonts"
@import "vars"

* 
	-webkit-font-smoothing: antialised
	padding: 0
	margin: 0
	box-sizing: border-box

body 
    min-width: 320px
    font-size: 16px
    font-family: "OpenSans", serif
    font-weight: normal
    width: 100%
	
@import "header/index"
@import "topline"
@import "section"
@import "phone"
@import "button"
@import "keyframes"
@import "title"
@import "uslugi/index"
@import "company/index"
@import "footer/index"