extends template
block title
	title Главная
block content
	.topline.section_image
		header.header
			.header__triangle
			.header__wrap
				.header__frame
					.header__phone
						+phone
						+phone
					.header__top
						.header__logo
							h1.header__title СТроительная компания в Севастополе <span class="header__metr">400м2</span>
							.header__imgwrap
								img(src="img/logo.png" alt="logo" class="header__img")
					.header__bottom
						.header__buttonwrap
							button.header__button.button.button_orange связаться с нами
						.header__linkwrap
							.header__link все услуги
			section.section_uslugi.section_darken
				h2.title.title_blue.title_section Наши услуги
				.uslugi
					.uslugi__wrapper
						.uslugi__item.wow
							h3.title.title_uslugi.title_white Строительство из ракушечника
							.uslugi__content 
								.uslugi__imgwrap
									img(src="img/uslugi-1.png", alt="uslugi1" class="uslugi__img")
								.uslugi__linkwrap
									a(href="#" class="uslugi__link button button_orange") подробнее	
						.uslugi__item.wow
							h3.title.title_uslugi.title_white Заборы из французского камня
							.uslugi__content 
								.uslugi__imgwrap
									img(src="img/uslugi-2.png", alt="uslugi2" class="uslugi__img")
								.uslugi__linkwrap
									a(href="#" class="uslugi__link button button_orange") подробнее	
						.uslugi__item.wow
							h3.title.title_uslugi.title_white.title_small Отделочные работы
							.uslugi__content 
								.uslugi__imgwrap
									img(src="img/uslugi-3.png", alt="uslugi3" class="uslugi__img")
								.uslugi__linkwrap
									a(href="#" class="uslugi__link button button_orange") подробнее		
						.uslugi__item.wow
							h3.title.title_uslugi.title_white.title_small Фасадные работы
							.uslugi__content 
								.uslugi__imgwrap
									img(src="img/uslugi-4.png", alt="uslugi4" class="uslugi__img")
								.uslugi__linkwrap
									a(href="#" class="uslugi__link button button_orange") подробнее
	section.section_company.section_image
		h2.title.title_blue.title_section О компании «400м<sup>2</sup>»
		.company
			.company__wrap.company__animation
				.company__left.bounceInLeft.wow
					.company__imgwrap
						img(src="img/company1.jpg", alt="company" class="company__img")
				.company__right.bounceInRight.wow
					.company__text
						h3.title.title_dark.title_company Lorem ipsum.
						p sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	footer.section_footer
		.footer__wrap
			.footer__right.section_image
				.footer__darken
				.footer__content
					.footer__head
						h3.title.title_footer.title_white Звоните
						.footer__phonewrap
							.phone
								<svg class="phone__imgwrap wow phone__animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="25" viewBox="0 0 20 28"><image id="faab50e9b4eb49137955a15433b56ccf_office-phone-icon-image-946-clipart-phone-png_3333-4490" class="phone__img " width="18" height="25" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAWCAMAAAD+dOxOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA5FBMVEUAAAD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgD/lgAAAAA8Vah2AAAASnRSTlMAA3vRkrCeD9aizgGgnLgE8bUG+KS2C+7Ex+Hghy8MzcWxpYryDliPF8mVFN8xKJ983C04RbMIyNk2huIq6EpeH+lxjBhsy+taERwAxiQAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAq0lEQVQY013N5RaCQBQE4FVUDGzFABUUu7u75/0fyCXOsnJ/fmfmDiE+vxAIhgg7MQxEoogxkADEE0gySFGQ0sgwyFLI5SEzKFAolspuRaGgVqruSg3QCH86UP+DBmA0eWjRH20eOhQg8tKl0PN20OdlAM/Q0IyMCJHHE0dUCtPZfKFgubJlbWaw2e6wP1hQPVpinM6AHblcLcHtLjhvHpotO3fr+TLe+udLfkP6ImsOL7YZAAAAAElFTkSuQmCC"/></svg>
								.phone__text.phone__text_light 8 800 555 35 35 <span class="phone__slash">|</span>  7 (978)555 35 35
							.footer__text Или отправьте свои данные и <br/>с Вами свяжется специалист компани «400м2»
							.footer__form
								form
									.footer__item
										input(type="text" name="name" placeholder="имя").footer__input
									.footer__item
										input(type="tel" name="phone" placeholder="номер телефона").footer__input
									.footer__item.footer__textarea
										textarea(name="comment" placeholder="коментарий").footer__input
									.footer__item
										button(type="submit").button.button_orange.footer__button  отправить						
			.footer__left					
				.footer__map#map